In [31]:
# Dependencies and Setup
import pandas as pd
import requests
#import gmaps
import gmaps
import gmaps.datasets
# Import API key
from config import g_key
import numpy as np
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv",index_col=0)
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Cherskiy,RU,68.7500,161.3000,52.43,80,0,3.00,clear sky
1,Atuona,PF,-9.8000,-139.0333,77.59,77,12,21.90,few clouds
2,Klaksvik,FO,62.2266,-6.5890,54.52,82,93,25.12,overcast clouds
3,Rikitea,PF,-23.1203,-134.9692,73.06,77,100,24.76,overcast clouds
4,Souillac,MU,-20.5167,57.5167,70.18,52,40,18.41,scattered clouds

In [3]:
city_data_df.describe()

              Lat         Lng    Max Temp    Humidity  Cloudiness  Wind Speed
count  717.000000  717.000000  717.000000  717.000000  717.000000  717.000000
mean    19.424682   22.263412   71.319833   69.195258   56.357043    7.923947
std     32.148106   87.195468   13.471960   21.355682   38.330571    5.373153
min    -54.800000 -175.200000   33.130000   10.000000    0.000000    0.000000
25%     -6.213200  -56.327500   61.070000   57.000000   20.000000    3.960000
50%     21.346900   29.474200   74.410000   74.000000   65.000000    6.910000
75%     46.844000   98.529800   80.820000   86.000000   97.000000   10.670000
max     78.218600  179.316700  106.610000  100.000000  100.000000   34.610000

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
max_temp = int(input('Enter Maximum Temperature : '))
min_temp = int(input('Enter Minimum Temperature (only in digits) : '))

Enter Maximum Temperature : 85
Enter Minimum Temperature (only in digits) : 80

In [10]:
print(max_temp,min_temp)

85 80

In [11]:
city_data_df.loc[(city_data_df['Max Temp']<= max_temp)]

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Cherskiy,RU,68.7500,161.3000,52.43,80,0,3.00,clear sky
1,Atuona,PF,-9.8000,-139.0333,77.59,77,12,21.90,few clouds
2,Klaksvik,FO,62.2266,-6.5890,54.52,82,93,25.12,overcast clouds
3,Rikitea,PF,-23.1203,-134.9692,73.06,77,100,24.76,overcast clouds
4,Souillac,MU,-20.5167,57.5167,70.18,52,40,18.41,scattered clouds
...,...,...,...,...,...,...,...,...,...
712,Zapolyarnyy,RU,69.4154,30.8136,58.28,95,100,19.26,overcast clouds
713,Chapais,CA,49.7834,-74.8492,78.51,38,8,13.29,clear sky
714,Bosobolo,CD,4.1833,19.9000,72.03,94,100,2.93,overcast clouds
715,Taga,RO,46.9500,24.0500,70.32,63,89,4.05,overcast clouds
716,Dombarovskiy,RU,50.7587,59.5386,70.88,55,10,8.08,clear sky

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_on_temp_df = city_data_df.loc[(city_data_df['Max Temp']<= max_temp) & (city_data_df['Max Temp']>=min_temp)]
filtered_on_temp_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,Beshpagir,RU,45.0217,42.3808,80.02,35,14,20.22,few clouds
10,Iralaya,HN,15.0000,-83.2333,82.17,85,100,14.76,overcast clouds
11,Santander,ES,43.4647,-3.8044,80.71,86,0,5.01,clear sky
14,Itarema,BR,-2.9248,-39.9167,83.23,63,15,18.41,few clouds
19,Ormara,PK,25.2088,64.6357,84.87,80,100,14.81,overcast clouds
...,...,...,...,...,...,...,...,...,...
649,Kavaratti,IN,10.5669,72.6420,81.79,80,99,23.13,overcast clouds
657,Romanovskaya,RU,47.5426,42.0285,84.56,31,53,8.08,broken clouds
659,Sinnamary,GF,5.3833,-52.9500,82.90,76,38,10.92,scattered clouds
694,Ozinki,RU,51.1786,49.6769,81.21,35,60,7.40,broken clouds
699,Chizhou,CN,30.6578,117.4831,81.91,74,56,2.62,broken clouds

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_df.loc[(city_data_df['Max Temp']<= max_temp) & (city_data_df['Max Temp']>=min_temp)].describe()

              Lat         Lng    Max Temp    Humidity  Cloudiness  Wind Speed
count  108.000000  108.000000  108.000000  108.000000  108.000000  108.000000
mean    20.975321   19.126156   82.104537   68.000000   53.990741    8.867685
std     17.561857   88.607924    1.355674   19.934941   37.603314    5.587971
min    -20.666700 -158.085800   80.020000   15.000000    0.000000    0.000000
25%      6.439900  -63.984800   81.007500   57.750000   18.750000    4.610000
50%     21.554450   35.290850   81.890000   75.000000   57.000000    7.695000
75%     35.947275   97.532450   82.972500   83.000000   92.000000   13.067500
max     53.410600  172.790200   84.990000  100.000000  100.000000   23.130000

In [14]:
# 4a. Determine if there are any empty rows.
filtered_on_temp_df.isnull().sum()

City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
filtered_on_temp_df[filtered_on_temp_df['Country'].isnull()]
# There are many approaches depending upon the data.

Empty DataFrame
Columns: [City, Country, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Current Description]
Index: []

In [16]:
clean_df= filtered_on_temp_df.dropna()
clean_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,Beshpagir,RU,45.0217,42.3808,80.02,35,14,20.22,few clouds
10,Iralaya,HN,15.0000,-83.2333,82.17,85,100,14.76,overcast clouds
11,Santander,ES,43.4647,-3.8044,80.71,86,0,5.01,clear sky
14,Itarema,BR,-2.9248,-39.9167,83.23,63,15,18.41,few clouds
19,Ormara,PK,25.2088,64.6357,84.87,80,100,14.81,overcast clouds
...,...,...,...,...,...,...,...,...,...
649,Kavaratti,IN,10.5669,72.6420,81.79,80,99,23.13,overcast clouds
657,Romanovskaya,RU,47.5426,42.0285,84.56,31,53,8.08,broken clouds
659,Sinnamary,GF,5.3833,-52.9500,82.90,76,38,10.92,scattered clouds
694,Ozinki,RU,51.1786,49.6769,81.21,35,60,7.40,broken clouds
699,Chizhou,CN,30.6578,117.4831,81.91,74,56,2.62,broken clouds

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Beshpagir,RU,80.02,few clouds,45.0217,42.3808,
10,Iralaya,HN,82.17,overcast clouds,15.0000,-83.2333,
11,Santander,ES,80.71,clear sky,43.4647,-3.8044,
14,Itarema,BR,83.23,few clouds,-2.9248,-39.9167,
19,Ormara,PK,84.87,overcast clouds,25.2088,64.6357,
...,...,...,...,...,...,...,...
649,Kavaratti,IN,81.79,overcast clouds,10.5669,72.6420,
657,Romanovskaya,RU,84.56,broken clouds,47.5426,42.0285,
659,Sinnamary,GF,82.90,scattered clouds,5.3833,-52.9500,
694,Ozinki,RU,81.21,broken clouds,51.1786,49.6769,
699,Chizhou,CN,81.91,broken clouds,30.6578,117.4831,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city. 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        hotel_df.loc[index, "Hotel Name"] =np.nan
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.shape

(108, 7)

In [20]:
hotel_df.sample(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
484,Guarapari,BR,81.90,broken clouds,-20.6667,-40.4975,Hotel Porto do Sol
468,Wajima,JP,80.29,overcast clouds,37.4000,136.9000,Wajiima Onsen Yashio
571,Ingham,US,81.91,scattered clouds,42.6000,-84.3833,Sunset Mobile Home Park
392,Gewane,ET,82.09,overcast clouds,10.1664,40.6453,እንደገና ገዋኔ ሞቴል
140,Vila Do Maio,CV,84.99,broken clouds,15.1333,-23.2167,Hotel Marilu
96,Iki-Burul,RU,82.26,clear sky,45.8208,44.6472,NaN
40,Hirara,JP,84.99,clear sky,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
649,Kavaratti,IN,81.79,overcast clouds,10.5669,72.6420,Green leaf
611,Melito Di Porto Salvo,IT,82.96,few clouds,37.9222,15.7714,B&B Nereidi
618,Puerto Narino,CO,81.23,scattered clouds,-3.7703,-70.3831,Eware Refugio Amazonico

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()

In [22]:
clean_hotel_df.shape

(98, 7)

In [23]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file)

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country	</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:

# 11a. Add a marker layer for each city to the map. 
from IPython.display import display
import ipywidgets as widgets

gmaps.configure(api_key=g_key)


fig = gmaps.figure()


gmaps.configure(api_key=g_key)

markers = gmaps.marker_layer(locations,info_box_content=hotel_info )
fig.add_layer(markers)



# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
gmaps.__version__

'0.9.0'